<div class="container">
    <div class="containersub1">
        <div class="circle">
        </div>
    </div>
    <div class="containersub2">
        <img src="assets\about-us.jpg" alt="" class="about-us">
        <div class="textcontainer">
            <h1 class="wwd-h1">What We Do</h1>
            <p>"We are committed to revolutionizing student life by offering 
                a seamless online ordering experience. Our platform serves as 
                a dynamic space where students can effortlessly connect with 
                a variety of food trucks, providing a convenient avenue for 
                ordering delicious meals online. Our dedication lies in 
                fostering a platform that not only showcases the diverse 
                culinary offerings of food trucks but also empowers students 
                to place orders with ease. Join us in transforming the way 
                students experience the culinary landscape through our 
                innovative online ordering services!"
            </p>
        </div>
    </div>
</div>

