<div class='container'>
    <div class='window'>
      <div class='order-info'>
        <div class='order-info-content'>
          <div class="header-cart-items">
            <h2>Order Summary</h2>
                    <div class='line'></div>
          </div>
        <div *ngIf="cart && cart.items.length" class="cart-items">
          <ul >
            <li *ngFor="let cartItem of cart.items">
                <div class='line'></div>
                    <table class='order-table'>
                        <tbody>
                        <tr>
                            <td><img [src]="cartItem.product.imageUrl" class='full-width'/>
                            </td>
                            <td>
                            <br> <span class='thin'>{{cartItem.product.name}}</span>
                            <br>Quantity:{{cartItem.quantity}}<br> <!--<span class='thin small'> Color: Pink, Size: Medium</span>-->
                            </td>
            
                        </tr>
                        <tr>
                            <td>
                            <div class='price'>{{cartItem.price | currency:'R':true}}</div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
            </li>
        </ul>
      </div>
          <div class="footer-cart-items">
            <div class='line'></div>
              <div class='total'>
                <span style='float:left;'>
                  <div class='thin dense'>VAT 15%</div>
                  <!--<div class='thin dense'>Delivery</div>-->
                  TOTAL
                </span>
                <span style='float:right; text-align:right;'>
                  <div class='thin dense'>{{cart.totalPrice*0.85 | currency:'R':true}}</div>
                  <!--<div class='thin dense'>$4.95</div>-->
                  {{cart.totalPrice | currency:'R':true}}
                </span>
              </div>
          </div>
  </div>
  </div>
          <div class='credit-info'>
            <div class='credit-info-content'>
              <table class='half-input-table'>
                <tr><td>Please select your card: </td><td><div class='dropdown' id='card-dropdown'><div class='dropdown-btn' id='current-card'>Visa</div>
                  <div class='dropdown-select'>
                  <ul>
                    <li>Master Card</li>
                    <li>American Express</li>
                    </ul></div>
                  </div>
                 </td></tr>
              </table>
              <img src='https://dl.dropboxusercontent.com/s/ubamyu6mzov5c80/visa_logo%20%281%29.png' height='80' class='credit-card-image' id='credit-card-image'/>
              Card Number
              <input class='input-field'/>
              Card Holder
              <input class='input-field'/>
              <table class='half-input-table'>
                <tr>
                  <td> Expires
                    <input class='input-field'/>
                  </td>
                  <td>CVC
                    <input class='input-field'/>
                  </td>
                </tr>
              </table>
              <button (click)="saveUserHistory()" class='pay-btn'>Checkout</button>
  
            </div>
  
          </div>
        </div>
  </div>
