@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body{
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.container{
    display: flex;
  width: 45rem;
  height: 30rem;
  border-radius: 1rem;
  border: 1px solid;
  transform: translate(25%,25%);
}

.sub1-header{
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    background: orange;
    border-radius: 1rem 0 0 0;
    height: 5rem;
    align-items: center;
  }

  .sub1-header h2{
    font-size: 2rem;
  }
  
  .sub1{
    flex: 1.3;
    height: 100%;
  }
  
  .sub2{
    flex: 0.7;
    height: 100%;
  }

  .sub2 img{
    width: 100%;
    height: 100%;
    border-radius: 0 1rem 1rem 0;
  }
  
  form h3{
    font-size: 1.9rem;
    font-weight: 1000;
    margin-top: 2rem;
    font-weight: 500;
    padding: 0.5rem;
    margin-left: 1.7rem;
    margin-bottom: 0rem;
  }
  
  form h4{
    font-weight: 100;
    margin: 0 0 0 2rem;
    color: #a99f9f;
  }
   .container .field{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    margin-left: 2rem;
  }
  
  input{
    width: 80%;
    padding: 0.5rem;
    border-radius: 0.3rem;
    background-color: #f6f1f1;
    border: none;
    box-shadow: 0 0 7px rgba(149, 148, 150, 0.6);
  }
  
  label{
    font: 1.3rem;
    padding: 0.5rem;
  }
  
  .regmem{
    margin-left: 0.7rem;
  }
  
  .regmem a{
    text-decoration: none;
  }

  form button{
    width: 80%;
    height: 2rem;
    padding: 0.3rem;
    color: black;
    margin: 1rem 2rem;
    cursor: pointer;
    background: #f6f1f1;
    border-radius: 1rem;
    box-shadow: 0 0 7px rgba(149, 148, 150, 0.6);
  }