<body>
    <div class="accountheader">
        <h2>FTOS Account</h2>
    </div>
    <div class="line"></div>
    <div class="container">
        <div class="side-panel">
            <i class="pi pi-user" style="font-size: 9rem"></i>
            <button><h1>My Account</h1></button>
            <button class="side-btn" (click)="loadContent('orderHistory')"><h3>Order History</h3></button>
            <button class="side-btn" (click)="loadContent('password')"><h3>Password</h3></button>
            <button class="side-btn"><h3>Billings and Payments</h3></button>
        </div>
        <div class="main-panel">
            <app-order-history *ngIf="selectedContent === 'orderHistory'"></app-order-history>
            <app-password *ngIf="selectedContent === 'password'"></app-password>
        </div>
    </div>
</body>
