@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #f4f1f1;
}
.pi-user{
    margin-top: 0;
    margin-left: 3rem;
    margin-bottom: 1rem;
    color: rgb(215, 204, 204);
}
.accountheader{
    display: flex;
    justify-content: space-between;
    height: 5rem;
    margin-top: 1rem;
    padding: 0.5rem;
    align-items: center;
    margin-bottom: 0rem;
    flex:1
}

.accountheader button{
    height: 2rem;
    border: none;
    border-radius: 2rem;
    width: 8rem;
    cursor: pointer;
    margin-right: 3rem;
    background: #ee7600;
}

.accountheader h2{
    margin-left: 3rem;
}

.line{
    height: 2px;
    background: rgb(215, 204, 204);
    width: 80%;
    align-self: center;
    margin-bottom: 3rem;
}
.container{
    display: flex;
    flex:5;
}

.side-panel{
    flex:1;
}

.side-panel h1{
    margin-bottom: 2rem;
}
.side-panel button{
    width: 100%;
    background: transparent;
    border: none;
    cursor: pointer;
}


.main-panel{
    flex: 5;
}

.side-btn{
    height: 2rem;
    width: 100%;
    padding: 0.3rem;
    border: none;
    background: transparent;
    cursor: pointer;
}

.side-btn:hover{
    color: #ee7600;
}

.side-btn:focus{
    box-shadow: 0.1rem 0 0 black;
    background: #fff;
}