
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    height: 10rem;
    width: 100%;
    border-radius: 0.1rem;
    border: 0;
}

.header-logo img{
    position: absolute;
    height: 8rem;
    width: 8rem;
    border-radius: 100%;
    object-fit: cover;
    left: 1rem;
}

.header-nav{
    right: 1rem;
    position: absolute;
    top: 3rem;
}

ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

ul li{
    padding: 0 1.1rem 0 0;
}

ul a{
    color: #ee7600;
    text-decoration: none;
    opacity: 0.7;
    border-radius: 3rem;
    border: 1px solid black;
    padding: 1rem;
    
}

ul a:hover{
    opacity: 1;
    box-shadow: 2px 2px 2px 1px black;
}

.cart-quantity{
    color: red;
    font-size: 1.1rem;
}



